<div>
  <div class="hidden-mobile">
    <a href="./index.html">Start</a>
    <a href="./rezeptDesTages.html">Rezeptes des Tages</a>
    <a href="./kontakt.html">Kontakt</a>
    <a href="./impressum.html">Impressum</a>
  </div>
  <div>
    <div class="menu-hamburger-icon" onclick="showHideMenu()">
      <div class="menu-hamburguer-line"></div>
      <div class="menu-hamburguer-line"></div>
      <div class="menu-hamburguer-line"></div>
    </div>
    <div id="menu" class="menu-hamburguer menu-hidden-big-screen">
      <a onclick="closeMenu()" href="./index.html">Start</a>
      <a onclick="closeMenu()" href="./rezeptDesTages.html"
        >Rezeptes des Tages</a
      >
      <a onclick="closeMenu()" href="./kontakt.html">Kontakt</a>
      <a onclick="closeMenu()" href="./impressum.html">Impressum</a>
    </div>
  </div>
</div>
